.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
}
.row {
  display: flex;
  width: 100%;
}

.inputBox{
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin: 5px 0;
}

.input{
  padding: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #eee;
  color: #016301;
}

.button {
    padding: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #eee;
  background-color: #016301;
  cursor: pointer;
}